.mainpage
  %p.main__tag データベース一覧
  .data_base
    %ul.data_base__title-1
      %li.data_base__title-1__value 品名
      %li.data_base__title-1__value チャージ
      %li.data_base__title-1__value 重量
      %li.data_base__title-1__value 材料代
      %li.data_base__title-1__value 管理費
      %li.data_base__title-1__value 合計
  - @calculations.each do |c| 
    .data_base
      %ul.data_base__title
        %li.data_base__title__value
          =link_to c.title,  calculation_path(c.id)
      %ul.data_base__title
        %li.data_base__title__value
          =c.charge
      %ul.data_base__title
        %li.data_base__title__value
          =c.weight
      %ul.data_base__title
        %li.data_base__title__value
          =c.postage
      %ul.data_base__title
        %li.data_base__title__value
          =c.administration_cost
      %ul.data_base__title
        %li.data_base__title__value
          =c.total_cost
      %ul.data_base__title
        %li.data_base__title__value
          =c.created_at.strftime("%Y-%m-%d")
.btn-warning1
  = link_to "CSVダウンロード", calculations_path(format: "csv"), class: "btn btn-warning1__btn"